In [7]:
import pandas as pd
import numpy as np
df = pd.read_csv("train.csv")
df

,Id,Province_State,Country_Region,Date,ConfirmedCases,Fatalities
0,1,NaN,Afghanistan,2020-01-22,0.0,0.0
1,2,NaN,Afghanistan,2020-01-23,0.0,0.0
2,3,NaN,Afghanistan,2020-01-24,0.0,0.0
3,4,NaN,Afghanistan,2020-01-25,0.0,0.0
4,5,NaN,Afghanistan,2020-01-26,0.0,0.0
...,...,...,...,...,...,...
20575,29366,NaN,Zimbabwe,2020-03-27,5.0,1.0
20576,29367,NaN,Zimbabwe,2020-03-28,7.0,1.0
20577,29368,NaN,Zimbabwe,2020-03-29,7.0,1.0
20578,29369,NaN,Zimbabwe,2020-03-30,7.0,1.0
20579,29370,NaN,Zimbabwe,2020-03-31,8.0,1.0

# Total Number of Confirmed Cases by Country
1. get the newest data only
1. one country one data
1. get lat/long information
1. use folium?

In [18]:
#df_totalnum = df.drop(['Province_State'], axis = 1)
df_totalnum = df.query('Date == "2020-03-31"')
df_totalnum = df_totalnum.rename(columns={'ConfirmedCases':'AccumulatedCases'})
df_totalnum.tail()

,Id,Province_State,Country_Region,Date,AccumulatedCases,Fatalities
20299,14769,NaN,Uzbekistan,2020-03-31,172.0,2.0
20369,14869,NaN,Venezuela,2020-03-31,135.0,3.0
20439,14969,NaN,Vietnam,2020-03-31,212.0,0.0
20509,15069,NaN,Zambia,2020-03-31,35.0,0.0
20579,15169,NaN,Zimbabwe,2020-03-31,8.0,1.0

In [26]:
print(df_totalnum['Country_Region'].nunique(dropna=False))
print(df_totalnum.shape)

df_totalnumUS = df_totalnum.query('Country_Region == "Zimbabwe"')

df_totalnumUS.Province_State.isnull().all()

1
(54, 6)

True