In [12]:
import pandas as pd
import numpy as np
df = pd.read_csv("train.csv")
df

,Id,Province_State,Country_Region,Date,ConfirmedCases,Fatalities
0,1,NaN,Afghanistan,2020-01-22,0.0,0.0
1,2,NaN,Afghanistan,2020-01-23,0.0,0.0
2,3,NaN,Afghanistan,2020-01-24,0.0,0.0
3,4,NaN,Afghanistan,2020-01-25,0.0,0.0
4,5,NaN,Afghanistan,2020-01-26,0.0,0.0
...,...,...,...,...,...,...
20575,29366,NaN,Zimbabwe,2020-03-27,5.0,1.0
20576,29367,NaN,Zimbabwe,2020-03-28,7.0,1.0
20577,29368,NaN,Zimbabwe,2020-03-29,7.0,1.0
20578,29369,NaN,Zimbabwe,2020-03-30,7.0,1.0
20579,29370,NaN,Zimbabwe,2020-03-31,8.0,1.0

# Total Number of Confirmed Cases by Country ('TotalNumberbyCountryLatest.csv')

In [13]:
df_totalnum = df.drop(['Id', 'Province_State'], axis = 1, inplace = True)
df_totalnum = df.query('Date == "2020-03-31"')
df_totalnum.rename(columns={'ConfirmedCases':'AccumulatedCases'}, inplace = True)
df_totalnum.tail()

/home/lyllme/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

      Country_Region        Date  AccumulatedCases  Fatalities
20299     Uzbekistan  2020-03-31             172.0         2.0
20369      Venezuela  2020-03-31             135.0         3.0
20439        Vietnam  2020-03-31             212.0         0.0
20509         Zambia  2020-03-31              35.0         0.0
20579       Zimbabwe  2020-03-31               8.0         1.0

In [14]:
grouped = df_totalnum.groupby('Country_Region')

df_groupedcs = grouped.sum()
df_groupedcs

                AccumulatedCases  Fatalities
Country_Region
Afghanistan                174.0         4.0
Albania                    243.0        15.0
Algeria                    716.0        44.0
Andorra                    376.0        12.0
Angola                       7.0         2.0
...                          ...         ...
Uzbekistan                 172.0         2.0
Venezuela                  135.0         3.0
Vietnam                    212.0         0.0
Zambia                      35.0         0.0
Zimbabwe                     8.0         1.0

[173 rows x 2 columns]

In [15]:
#keep this, necessary code to update csv
#df_groupedcs.to_csv('/home/lyllme/Covid19/TotalNumberbyCountryLatest.csv')

dftotal = pd.read_csv('TotalNumberbyCountryLatest.csv')
dftotal

    Country_Region  AccumulatedCases  Fatalities
0      Afghanistan             174.0         4.0
1          Albania             243.0        15.0
2          Algeria             716.0        44.0
3          Andorra             376.0        12.0
4           Angola               7.0         2.0
..             ...               ...         ...
168     Uzbekistan             172.0         2.0
169      Venezuela             135.0         3.0
170        Vietnam             212.0         0.0
171         Zambia              35.0         0.0
172       Zimbabwe               8.0         1.0

[173 rows x 3 columns]

### get lattitude and longtitude info(CountryLocation.csv')

In [16]:
#!conda install -c conda-forge geocoder -y

In [18]:
import geocoder

l_lat = []
l_long = []
l_place = []

for place in dftotal.Country_Region:
    ret = geocoder.osm(place, timeout=120.0)
    print(place, ret.latlng)
    l_place.append(place)
    l_lat.append(ret.latlng[0])
    l_long.append(ret.latlng[1])

Afghanistan [33.7680065, 66.2385139]
Albania [41.000028, 19.9999619]
Algeria [28.0000272, 2.9999825]
Andorra [42.5407167, 1.5732033]
Angola [-11.8775768, 17.5691241]
Antigua and Barbuda [17.2234721, -61.9554608]
Argentina [-34.9964963, -64.9672817]
Armenia [40.7696272, 44.6736646]
Australia [-24.7761086, 134.755]
Austria [47.2000338, 13.199959]
Azerbaijan [40.3936294, 47.7872508]
Bahamas [24.7736546, -78.0000547]
Bahrain [26.1551249, 50.5344606]
Bangladesh [24.4768783, 90.2932426]
Barbados [13.1500331, -59.5250305]
Belarus [53.4250605, 27.6971358]
Belgium [50.6402809, 4.6667145]
Belize [16.8259793, -88.7600927]
Benin [9.5293472, 2.2584408]
Bhutan [27.549511, 90.5119273]
Bolivia [-17.0568696, -64.9912286]
Bosnia and Herzegovina [44.3053476, 17.5961467]
Brazil [-10.3333333, -53.2]
Brunei [4.4137155, 114.5653908]
Bulgaria [42.6073975, 25.4856617]
Burkina Faso [12.0753083, -1.6880314]
Cabo Verde [16.0000552, -24.0083947]
Cambodia [13.5066394, 104.869423]
Cameroon [4.6125522, 13.1535811]
Canada [61.0666922, -107.9917071]
Central African Republic [7.0323598, 19.9981227]
Chad [15.6134137, 19.0156172]
Chile [-31.7613365, -71.3187697]
China [35.000074, 104.999927]
Colombia [2.8894434, -73.783892]
Congo (Brazzaville) [-0.7264327, 15.6419155]
Congo (Kinshasa) [-2.9814344, 23.8222636]
Costa Rica [10.2735633, -84.0739102]
Cote d'Ivoire [7.9897371, -5.5679458]
Croatia [45.5643442, 17.0118954]
Cuba [23.0131338, -80.8328748]
Cyprus [34.9823018, 33.1451285]
Czechia [49.8167003, 15.4749544]
Denmark [55.670249, 10.3333283]
Diamond Princess [53.8953584, 27.5554078]
Djibouti [11.8145966, 42.8453061]
Dominica [19.0974031, -70.3028026]
Dominican Republic [19.0974031, -70.3028026]
Ecuador [-1.3397668, -79.3666965]
Egypt [26.2540493, 29.2675469]
El Salvador [13.8000382, -88.9140683]
Equatorial Guinea [1.613172, 10.5170357]
Eritrea [15.9500319, 37.9999668]
Estonia [58.7523778, 25.3319078]
Eswatini [-26.5624806, 31.3991317]
Ethiopia [10.2116702, 38.6521203]
Fiji [-18.1239696, 179.0122737]
Finland [63.2467777, 25.9209164]
France [46.603354, 1.8883335]
Gabon [-0.8999695, 11.6899699]
Gambia [13.470062, -15.4900464]
Georgia [32.3293809, -83.1137366]
Germany [51.0834196, 10.4234469]
Ghana [8.0300284, -1.0800271]
Greece [38.9953683, 21.9877132]
Grenada [12.1360374, -61.6904045]
Guatemala [15.6356088, -89.8988087]
Guinea [10.7226226, -10.7083587]
Guinea-Bissau [12.100035, -14.9000214]
Guyana [4.8417097, -58.6416891]
Haiti [19.1399952, -72.3570972]
Holy See [38.9247244, -77.06572732690151]
Honduras [15.2572432, -86.0755145]
Hungary [47.1817585, 19.5060937]
Iceland [64.9841821, -18.1059013]
India [22.3511148, 78.6677428]
Indonesia [-2.4833826, 117.8902853]
Iran [32.6475314, 54.5643516]
Iraq [33.0955793, 44.1749775]
Ireland [52.865196, -7.9794599]
Israel [31.5313113, 34.8667654]
Italy [42.6384261, 12.674297]
Jamaica [18.1152958, -77.1598454610168]
Japan [36.5748441, 139.2394179]
Jordan [31.1667049, 36.941628]
Kazakhstan [47.2286086, 65.2093197]
Kenya [1.4419683, 38.4313975]
Korea, South [35.7724185, 127.79654346305617]
Kuwait [29.2733964, 47.4979476]
Kyrgyzstan [41.5089324, 74.724091]
Laos [20.0171109, 103.378253]
Latvia [56.8406494, 24.7537645]
Lebanon [33.8750629, 35.843409]
Liberia [5.7499721, -9.3658524]
Libya [26.8234472, 18.1236723]
Liechtenstein [47.1416307, 9.5531527]
Lithuania [55.3500003, 23.7499997]
Luxembourg [49.8158683, 6.1296751]
Madagascar [-18.9249604, 46.4416422]
Malaysia [4.5693754, 102.2656823]
Maldives [4.7064352, 73.3287853]
Mali [16.3700359, -2.2900239]
Malta [35.8885993, 14.4476911]
Mauritania [20.2540382, -9.2399263]
Mauritius [-20.2759451, 57.5703566]
Mexico [19.4326296, -99.1331785]
Moldova [47.2879608, 28.5670941]
Monaco [43.7323492, 7.4276832]
Mongolia [46.8250388, 103.8499736]
Montenegro [42.9868853, 19.5180992]
Morocco [31.1728205, -7.3362482]
Mozambique [-19.302233, 34.9144977]
Namibia [-23.2335499, 17.3231107]
Nepal [28.1083929, 84.0917139]
Netherlands [52.5001698, 5.7480821]
New Zealand [-41.5000831, 172.8344077]
Nicaragua [12.6090157, -85.2936911]
Niger [17.7356214, 9.3238432]
Nigeria [9.6000359, 7.9999721]
North Macedonia [41.6171214, 21.7168387]
Norway [64.5731537, 11.52803643954819]
Oman [21.0000287, 57.0036901]
Pakistan [30.3308401, 71.247499]
Panama [8.559559, -81.1308434]
Papua New Guinea [-5.6816069, 144.2489081]
Paraguay [-23.3165935, -58.1693445]
Peru [-6.8699697, -75.0458515]
Philippines [12.7503486, 122.7312101]
Poland [52.215933, 19.134422]
Portugal [40.0332629, -7.8896263]
Qatar [25.3336984, 51.2295295]
Romania [45.9852129, 24.6859225]
Russia [64.6863136, 97.7453061]
Rwanda [-1.9646631, 30.0644358]
Saint Kitts and Nevis [17.250512, -62.6725973]
Saint Lucia [13.8250489, -60.975036]
Saint Vincent and the Grenadines [12.90447, -61.2765569]
San Marino [43.9458623, 12.458306]
Saudi Arabia [25.6242618, 42.3528328]
Senegal [14.4750607, -14.4529612]
Serbia [44.024322850000004, 21.07657433209902]
Seychelles [-4.6574977, 55.4540146]
Singapore [1.357107, 103.8194992]
Slovakia [48.7411522, 19.4528646]
Slovenia [45.8133113, 14.4808369]
Somalia [8.3676771, 49.083416]
South Africa [-28.8166236, 24.991639]
Spain [39.3262345, -4.8380649]
Sri Lanka [7.5554942, 80.7137847]
Sudan [14.5844444, 29.4917691]
Suriname [4.1413025, -56.0771187]
Sweden [59.6749712, 14.5208584]
Switzerland [46.7985624, 8.2319736]
Syria [34.6401861, 39.0494106]
Taiwan* [23.9739374, 120.9820179]
Tanzania [-6.5247123, 35.7878438]
Thailand [14.8971921, 100.83273]
Timor-Leste [-8.5151979, 125.8375756]
Togo [8.7800265, 1.0199765]
Trinidad and Tobago [10.8677845, -60.9821067]
Tunisia [33.8439408, 9.400138]
Turkey [38.9597594, 34.9249653]
US [39.7837304, -100.4458825]
Uganda [1.5333554, 32.2166578]
Ukraine [49.4871968, 31.2718321]
United Arab Emirates [24.0002488, 53.9994829]
United Kingdom [54.7023545, -3.2765753]
Uruguay [-32.8755548, -56.0201525]
Uzbekistan [41.32373, 63.9528098]
Venezuela [8.0018709, -66.1109318]
Vietnam [13.2904027, 108.4265113]
Zambia [-14.5186239, 27.5599164]
Zimbabwe [-18.4554963, 29.7468414]

In [32]:
lplace = pd.DataFrame(l_place)
llat = pd.DataFrame(l_lat)
llong = pd.DataFrame(l_long)

dfloc = dfloc.assign(Cs = lplace)
dfloc = dfloc.assign(Lattitude = llat, Longtitude = llong)

dfloc.rename(columns={'Unnamed: 0':'Id'}, inplace = True)
dfloc.rename(columns={'0':'Country_Region'}, inplace = True)
dfloc.drop(['Cs'], axis = 1, inplace = True)

#dfloc.to_csv('/home/lyllme/Covid19/CountryLocation.csv')
#keep this, necessary code to update csv

--end of this notebook--